workflows/m2-reply-poll.json
{
  "name": "M2 - Reply Poll",
  "nodes": [
    {
      "parameters": {},
      "id": "rpman0000000000000000000000000000000",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        180
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "rpsched00000000000000000000000000000",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        420
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 30,
        "filters": {
          "q": "newer_than:2d -from:me -in:chats"
        },
        "options": {
          "downloadAttachments": false
        }
      },
      "id": "rpget0000000000000000000000000000000",
      "name": "Get Recent Mail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        220,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "RE5KvrcKm8U95iWU",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const j = $json;\nconst cands = [j.from, j.From, (j.headers && j.headers.from),\n  (j.payload && j.payload.headers && (j.payload.headers.find(h => /^from$/i.test(h.name)) || {}).value)];\nlet raw = cands.find(Boolean) || '';\nif (typeof raw === 'object') raw = JSON.stringify(raw);\nconst m = String(raw).match(/[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}/i);\nreturn { json: { fromEmail: m ? m[0].toLowerCase() : '', subject: j.subject || j.Subject || '', snippet: j.snippet || j.text || j.textPlain || '' } };"
      },
      "id": "rpfrom000000000000000000000000000000",
      "name": "From",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://api.airtable.com/v0/{{ $env.AIRTABLE_BASE_ID }}/Leads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "=LOWER({email})='{{ $json.fromEmail }}'"
            },
            {
              "name": "maxRecords",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.AIRTABLE_PAT }}"
            }
          ]
        },
        "options": {}
      },
      "id": "rpfind000000000000000000000000000000",
      "name": "Find Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        660,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "f1",
              "leftValue": "={{ ($json.records || []).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "rpif00000000000000000000000000000000",
      "name": "Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// lib/replyClassify.js — classify an inbound reply's intent. Pure (prompt + parse).\nconst LABELS = ['Interested', 'NotInterested', 'Question'];\nfunction buildClassifyPrompt(lead, reply) {\n  const system = 'You classify replies to cold sales emails for Rehman, who sells websites '\n    + 'and AI/n8n automation. Decide the sender intent. Reply with ONLY JSON '\n    + '{\"label\":\"Interested\"|\"NotInterested\"|\"Question\",\"reason\":string}. '\n    + 'Interested = wants the product, a demo, a call, pricing, or to book. '\n    + 'NotInterested = declines, unsubscribe, \"not now\", or hostile. '\n    + 'Question = asks something but the intent is unclear.';\n  const user = 'Business: ' + ((lead && lead.business_name) || '?')\n    + '\\nReply:\\n' + (reply || '') + '\\n\\nReturn JSON now.';\n  return [{ role: 'system', content: system }, { role: 'user', content: user }];\n}\nfunction parseClassification(content) {\n  const fb = { label: 'Question', reason: '' };\n  if (!content) return fb;\n  const t = String(content).trim();\n  const a = t.indexOf('{'); const b = t.lastIndexOf('}');\n  if (a === -1 || b < a) return fb;\n  try {\n    const o = JSON.parse(t.slice(a, b + 1));\n    const label = LABELS.includes(o.label) ? o.label : 'Question';\n    return { label, reason: typeof o.reason === 'string' ? o.reason : '' };\n  } catch { return fb; }\n}\nconst f = $('From').item.json;\nconst lead = (($('Find Lead').item.json.records || [])[0] || {}).fields || {};\nconst messages = buildClassifyPrompt(lead, (f.subject || '') + '\\n' + (f.snippet || ''));\nreturn { json: { messages, recordId: ($('Find Lead').item.json.records[0] || {}).id,\n  business: lead.business_name || f.fromEmail, fromEmail: f.fromEmail, subject: f.subject, snippet: f.snippet } };"
      },
      "id": "rpcp00000000000000000000000000000000",
      "name": "Classify Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"llama-3.3-70b-versatile\", temperature: 0, response_format: { type: \"json_object\" }, messages: $json.messages }) }}",
        "options": {}
      },
      "id": "rpcls0000000000000000000000000000000",
      "name": "Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1320,
        240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// lib/replyClassify.js — classify an inbound reply's intent. Pure (prompt + parse).\nconst LABELS = ['Interested', 'NotInterested', 'Question'];\nfunction buildClassifyPrompt(lead, reply) {\n  const system = 'You classify replies to cold sales emails for Rehman, who sells websites '\n    + 'and AI/n8n automation. Decide the sender intent. Reply with ONLY JSON '\n    + '{\"label\":\"Interested\"|\"NotInterested\"|\"Question\",\"reason\":string}. '\n    + 'Interested = wants the product, a demo, a call, pricing, or to book. '\n    + 'NotInterested = declines, unsubscribe, \"not now\", or hostile. '\n    + 'Question = asks something but the intent is unclear.';\n  const user = 'Business: ' + ((lead && lead.business_name) || '?')\n    + '\\nReply:\\n' + (reply || '') + '\\n\\nReturn JSON now.';\n  return [{ role: 'system', content: system }, { role: 'user', content: user }];\n}\nfunction parseClassification(content) {\n  const fb = { label: 'Question', reason: '' };\n  if (!content) return fb;\n  const t = String(content).trim();\n  const a = t.indexOf('{'); const b = t.lastIndexOf('}');\n  if (a === -1 || b < a) return fb;\n  try {\n    const o = JSON.parse(t.slice(a, b + 1));\n    const label = LABELS.includes(o.label) ? o.label : 'Question';\n    return { label, reason: typeof o.reason === 'string' ? o.reason : '' };\n  } catch { return fb; }\n}\nconst c = $json.choices && $json.choices[0] && $json.choices[0].message ? $json.choices[0].message.content : '';\nconst r = parseClassification(c);\nconst prev = $('Classify Prompt').item.json;\nreturn { json: { ...prev, label: r.label, reason: r.reason } };"
      },
      "id": "rpcpr0000000000000000000000000000000",
      "name": "Parse Class",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        240
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $env.AIRTABLE_BASE_ID }}/Leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.AIRTABLE_PAT }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ typecast: true, records: [ { id: $json.recordId, fields: { replied: true, email_status: \"Replied\", reply_classification: $json.label, reply_text: $json.snippet } } ] }) }}",
        "options": {}
      },
      "id": "rprec0000000000000000000000000000000",
      "name": "Record Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1760,
        240
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "i1",
              "leftValue": "={{ $json.label }}",
              "rightValue": "Interested",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "rpint0000000000000000000000000000000",
      "name": "Interested?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1980,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const f = $('Classify Prompt').item.json;\nconst lead = (($('Find Lead').item.json.records || [])[0] || {}).fields || {};\nconst sys = 'You help Rehman handle inbound replies to cold outreach. Reply with ONLY JSON '\n  + '{\"summary\":string,\"suggested_reply\":string}. summary: 1-2 sentences on what they want. '\n  + 'suggested_reply: a short friendly reply Rehman can send.';\nconst usr = 'Business: ' + (lead.business_name || '?') + '\\nFrom: ' + f.fromEmail\n  + '\\nSubject: ' + (f.subject || '') + '\\nMessage: ' + (f.snippet || '') + '\\n\\nReturn JSON now.';\nreturn { json: { messages: [{ role: 'system', content: sys }, { role: 'user', content: usr }],\n  business: lead.business_name || f.fromEmail, fromEmail: f.fromEmail, subject: f.subject, snippet: f.snippet } };"
      },
      "id": "rpprompt0000000000000000000000000000",
      "name": "Notify Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"llama-3.3-70b-versatile\", temperature: 0.3, response_format: { type: \"json_object\" }, messages: $json.messages }) }}",
        "options": {}
      },
      "id": "rpgroq000000000000000000000000000000",
      "name": "Suggest Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2420,
        440
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const c = $json.choices && $json.choices[0] && $json.choices[0].message ? $json.choices[0].message.content : '';\nlet p = { summary: '', suggested_reply: '' };\ntry { const a = c.indexOf('{'), b = c.lastIndexOf('}'); if (a !== -1 && b > a) p = JSON.parse(c.slice(a, b + 1)); } catch (e) {}\nconst np = $('Notify Prompt').item.json;\nconst body = 'New reply from ' + np.business + '\\n\\nFrom: ' + np.fromEmail + '\\nSubject: ' + (np.subject || '')\n  + '\\n\\nSummary: ' + (p.summary || np.snippet || '') + '\\n\\nSuggested reply:\\n' + (p.suggested_reply || '');\nreturn { json: { subject: 'Hot lead replied: ' + np.business, body } };"
      },
      "id": "rpbody000000000000000000000000000000",
      "name": "Notify Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        440
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.NOTIFY_EMAIL }}",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "id": "rpnotify0000000000000000000000000000",
      "name": "Notify Operator",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2860,
        440
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "RE5KvrcKm8U95iWU",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Recent Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Recent Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Mail": {
      "main": [
        [
          {
            "node": "From",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "From": {
      "main": [
        [
          {
            "node": "Find Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Lead": {
      "main": [
        [
          {
            "node": "Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Found?": {
      "main": [
        [
          {
            "node": "Classify Prompt",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Classify Prompt": {
      "main": [
        [
          {
            "node": "Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify": {
      "main": [
        [
          {
            "node": "Parse Class",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Class": {
      "main": [
        [
          {
            "node": "Record Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Reply": {
      "main": [
        [
          {
            "node": "Interested?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interested?": {
      "main": [
        [
          {
            "node": "Notify Prompt",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Notify Prompt": {
      "main": [
        [
          {
            "node": "Suggest Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suggest Reply": {
      "main": [
        [
          {
            "node": "Notify Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Body": {
      "main": [
        [
          {
            "node": "Notify Operator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "3sNPCA6YTlyT9Nno"
  },
  "pinData": {}
}