workflows/price-comparison.json
{
  "name": "Product Price Comparison",
  "nodes": [
    {
      "parameters": {
        "path": "price-comparison",
        "formTitle": "Product Price Comparison",
        "formDescription": "Upload a CSV/Excel of product names and enter your email. You will receive the updated file with competitor prices.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File",
              "fieldType": "file",
              "acceptFileTypes": ".csv,.xlsx,.xls",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "pcform000000000000000000000000000000",
      "name": "Form Upload",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        300
      ],
      "webhookId": "b7e6c1a2-3d4f-4a5b-8c9d-0e1f2a3b4d10"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $binary.File.fileExtension }}",
                    "rightValue": "csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "csv"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "pcsw00000000000000000000000000000000",
      "name": "Detect Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "operation": "csv",
        "binaryPropertyName": "File",
        "options": {}
      },
      "id": "pccsv0000000000000000000000000000000",
      "name": "Extract CSV",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "File",
        "options": {}
      },
      "id": "pcxlsx000000000000000000000000000000",
      "name": "Extract XLSX",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// lib/priceParse.js — pure parsing/formatting for Apify Google Shopping offers. No network.\nfunction parseMoney(v) {\n  if (typeof v === 'number' && isFinite(v)) return v;\n  if (v == null) return null;\n  const cleaned = String(v).replace(/[^0-9.,]/g, '').replace(/,/g, '');\n  const n = parseFloat(cleaned);\n  return isFinite(n) ? n : null;\n}\nfunction pickProductName(row) {\n  if (!row || typeof row !== 'object') return '';\n  const keys = Object.keys(row);\n  const named = keys.find((k) => /product|name|item|title/i.test(k));\n  const key = named || keys[0];\n  return key ? String(row[key] == null ? '' : row[key]).trim() : '';\n}\nfunction groupByQuery(items) {\n  const out = {};\n  for (const it of (items || [])) {\n    const q = String((it && it.query) || '').trim();\n    if (!q) continue;\n    (out[q] = out[q] || []).push(it);\n  }\n  return out;\n}\nfunction parseShoppingOffers(items) {\n  const rows = (items || []).map((it) => ({\n    site: String((it && it.merchant) || '').trim(),\n    price: parseMoney(it && (it.priceNumeric != null ? it.priceNumeric : it.price)),\n    priceStr: String((it && it.price) || '').trim(),\n    currency: String((it && it.currency) || '').trim(),\n    position: Number((it && it.position) || 9999),\n  })).filter((o) => o.site && o.price != null);\n  rows.sort((a, b) => a.position - b.position);\n  const seen = new Set();\n  const offers = [];\n  for (const o of rows) {\n    const k = o.site.toLowerCase();\n    if (seen.has(k)) continue;\n    seen.add(k);\n    offers.push(o);\n  }\n  const prices = offers.map((o) => o.price);\n  return {\n    googlePrice: offers.length ? offers[0].price : null,\n    lowestPrice: prices.length ? Math.min.apply(null, prices) : null,\n    offers,\n    count: offers.length,\n  };\n}\nfunction formatPricesSummary(offers) {\n  return (offers || []).map((o) => o.site + ': ' + (o.priceStr || o.price)).join(' | ');\n}\nfunction buildRow(originalRow, productName, parsed) {\n  const o = (parsed && parsed.offers) || [];\n  const row = Object.assign({}, originalRow || {});\n  row.product_name = productName || pickProductName(originalRow);\n  row.google_price = parsed && parsed.googlePrice != null ? parsed.googlePrice : '';\n  row.lowest_price = parsed && parsed.lowestPrice != null ? parsed.lowestPrice : '';\n  for (let i = 0; i < 3; i++) {\n    row['competitor_' + (i + 1) + '_site'] = o[i] ? o[i].site : '';\n    row['competitor_' + (i + 1) + '_price'] = o[i] ? o[i].price : '';\n  }\n  row.prices_summary = formatPricesSummary(o);\n  row.offers_found = parsed ? parsed.count : 0;\n  row.status = (parsed && parsed.count > 0) ? 'ok' : 'no results';\n  return row;\n}\nreturn $input.all().map((it) => {\n  const row = it.json || {};\n  const name = pickProductName(row);\n  return { json: Object.assign({}, row, { __productName: name }) };\n}).filter((it) => it.json.__productName);"
      },
      "id": "pcnorm000000000000000000000000000000",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "id": "pcbatch00000000000000000000000000000",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst rows = items.map((i) => i.json);\nconst queries = rows.map((r) => r.__productName).filter(Boolean);\nreturn [{ json: { queries, rows } }];"
      },
      "id": "pcbq00000000000000000000000000000000",
      "name": "Build Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/automation-lab~google-shopping-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.APIFY_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ queries: $json.queries }) }}",
        "options": {
          "timeout": 290000
        }
      },
      "id": "pcapify00000000000000000000000000000",
      "name": "Apify Shopping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1320,
        200
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// lib/priceParse.js — pure parsing/formatting for Apify Google Shopping offers. No network.\nfunction parseMoney(v) {\n  if (typeof v === 'number' && isFinite(v)) return v;\n  if (v == null) return null;\n  const cleaned = String(v).replace(/[^0-9.,]/g, '').replace(/,/g, '');\n  const n = parseFloat(cleaned);\n  return isFinite(n) ? n : null;\n}\nfunction pickProductName(row) {\n  if (!row || typeof row !== 'object') return '';\n  const keys = Object.keys(row);\n  const named = keys.find((k) => /product|name|item|title/i.test(k));\n  const key = named || keys[0];\n  return key ? String(row[key] == null ? '' : row[key]).trim() : '';\n}\nfunction groupByQuery(items) {\n  const out = {};\n  for (const it of (items || [])) {\n    const q = String((it && it.query) || '').trim();\n    if (!q) continue;\n    (out[q] = out[q] || []).push(it);\n  }\n  return out;\n}\nfunction parseShoppingOffers(items) {\n  const rows = (items || []).map((it) => ({\n    site: String((it && it.merchant) || '').trim(),\n    price: parseMoney(it && (it.priceNumeric != null ? it.priceNumeric : it.price)),\n    priceStr: String((it && it.price) || '').trim(),\n    currency: String((it && it.currency) || '').trim(),\n    position: Number((it && it.position) || 9999),\n  })).filter((o) => o.site && o.price != null);\n  rows.sort((a, b) => a.position - b.position);\n  const seen = new Set();\n  const offers = [];\n  for (const o of rows) {\n    const k = o.site.toLowerCase();\n    if (seen.has(k)) continue;\n    seen.add(k);\n    offers.push(o);\n  }\n  const prices = offers.map((o) => o.price);\n  return {\n    googlePrice: offers.length ? offers[0].price : null,\n    lowestPrice: prices.length ? Math.min.apply(null, prices) : null,\n    offers,\n    count: offers.length,\n  };\n}\nfunction formatPricesSummary(offers) {\n  return (offers || []).map((o) => o.site + ': ' + (o.priceStr || o.price)).join(' | ');\n}\nfunction buildRow(originalRow, productName, parsed) {\n  const o = (parsed && parsed.offers) || [];\n  const row = Object.assign({}, originalRow || {});\n  row.product_name = productName || pickProductName(originalRow);\n  row.google_price = parsed && parsed.googlePrice != null ? parsed.googlePrice : '';\n  row.lowest_price = parsed && parsed.lowestPrice != null ? parsed.lowestPrice : '';\n  for (let i = 0; i < 3; i++) {\n    row['competitor_' + (i + 1) + '_site'] = o[i] ? o[i].site : '';\n    row['competitor_' + (i + 1) + '_price'] = o[i] ? o[i].price : '';\n  }\n  row.prices_summary = formatPricesSummary(o);\n  row.offers_found = parsed ? parsed.count : 0;\n  row.status = (parsed && parsed.count > 0) ? 'ok' : 'no results';\n  return row;\n}\nconst bq = $('Build Queries').item.json;\nconst rows = bq.rows || [];\nconst offers = $input.all().map((i) => i.json);\nconst grouped = groupByQuery(offers);\nconst sd = $getWorkflowStaticData('global');\nsd.rows = sd.rows || [];\nfor (const r of rows) {\n  const name = r.__productName;\n  const parsed = parseShoppingOffers(grouped[name] || []);\n  const clean = Object.assign({}, r); delete clean.__productName;\n  sd.rows.push(buildRow(clean, name, parsed));\n}\nreturn [{ json: { accumulated: sd.rows.length } }];"
      },
      "id": "pcparse00000000000000000000000000000",
      "name": "Parse Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        200
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "pcwait000000000000000000000000000000",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst rows = sd.rows || [];\nsd.rows = [];\nif (!rows.length) return [{ json: { product_name: 'No products processed' } }];\nreturn rows.map((r) => ({ json: r }));"
      },
      "id": "pcasm0000000000000000000000000000000",
      "name": "Assemble Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        460
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "data",
        "options": {
          "fileName": "price-comparison.xlsx",
          "sheetName": "Prices"
        }
      },
      "id": "pctofile0000000000000000000000000000",
      "name": "To XLSX",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1320,
        460
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Form Upload').item.json.Email }}",
        "subject": "Your product price comparison is ready",
        "emailType": "text",
        "message": "Attached is your product list with Google Shopping prices (google price + competitor sites/prices).\\n\\nRehman",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "data"
              }
            ]
          }
        }
      },
      "id": "pcmail000000000000000000000000000000",
      "name": "Email File",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1540,
        460
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "RE5KvrcKm8U95iWU",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    }
  ],
  "connections": {
    "Form Upload": {
      "main": [
        [
          {
            "node": "Detect Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Type": {
      "main": [
        [
          {
            "node": "Extract CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract CSV": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract XLSX": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Assemble Rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Queries": {
      "main": [
        [
          {
            "node": "Apify Shopping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify Shopping": {
      "main": [
        [
          {
            "node": "Parse Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Batch": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Rows": {
      "main": [
        [
          {
            "node": "To XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To XLSX": {
      "main": [
        [
          {
            "node": "Email File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}